.editboxx {
    display: flex;
    flex-direction: column;
    border : 1px #e9ecef solid;
    background-color: white;
    padding: 0px 40px;
    margin-bottom: 30px;
}

.editing {
    display: flex;
    flex-direction: column;
}

.titlebox,
.postbox {
    border: none;
    padding: 5px 3px;
    border : 1px #e9ecef solid;
}

.titlebox {
    font-size: 28px;
    margin: 23px 0px 14px;
}

.postbox {
    font-size: 15px;
    margin: 10px 0px 30px;
}

.ebutton,
.ecbutton {
    width: 47px;
    height: 27px;
    color: black;
    margin-top: 15px;

    border: none;
    border-radius: 15px;

    padding-top: 3px;
    padding-bottom: 4px;
}

.ebutton:hover,
.ecbutton:hover {
    cursor: pointer;
}

.ecbutton {
    margin-bottom: 23px;
}

.one {
    border : 1px #e9ecef solid;
    background-color: white;
    width : 850px;
    margin-bottom: 30px;
    padding : 0px 40px;
}

.postitle {
    font-size: 28px;
    margin-bottom: 14px;  
}

.wrphoto {
    margin: 8px 10px 0px 0px;
    border-radius: 70%;
}

.writerntime {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9ecef;
    font-size: 14px;
}

.text {
    font-size: 15px;
    padding-bottom: 30px;
}

.postphoto{
    margin-top: 20px;
}

.buttons{
    margin-left: 755px;
}

.editNdelete {
    width: 47px;
    height: 27px;
    padding-bottom: 3px;
    border: 1px solid #e9ecef;
    border-collapse : collapse;
    background-color: white;
    cursor: pointer;
}

.comment button {
    border: 1px solid #e9ecef;
    padding: 5px 7px;
    background-color: white;
}