.writebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wtitle {
    padding: 10px 500px 10px 10px;
}

.wpost {
    margin: 30px;
    width : 668px;
    height: 350px;
    padding-left: 10px;
}

.wphoto{
    margin-bottom: 30px;
}

.finishbutton,
.canclebutton {
    border: none;
    padding: 10px 200px;
    border-radius: 15px;
    color: white;
}

.finishbutton{
    background-color: #6CA7A8;
}

.canclebutton {
    background-color: #FD9063;
    margin-top: 20px;
}

.finishbutton:hover,
.canclebutton:hover,
.secret:hover {
    cursor: pointer;
    color: black;
    font-weight: bolder;
    border: 1px solid black;
}

.secret {
    border: none;
    padding: 10px 185px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: rgb(218, 218, 218);
}


